@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyregular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroybold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroysemibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Petersburg";
    src: url("../fonts/petersburgpyrillic.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #4B4B4B;
    background-color: #ffffff;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

a:focus,
a:hover {
    color: #D5B58E;
}

.h2 {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.container {
    width: 1475px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo-wrapper {
    width: 130px;
    margin-right: 245px;
    padding-top: 29px;
}

.main-menu {
    width: 630px;
    padding-top: 50px;
}

.main-menu-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main-menu-link {
    position: relative;
    display: block;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 23px;
    color: #4B4B4B;
}

.main-menu-link:focus,
.main-menu-link:hover {
    color: #D5B58E;
}

.main-menu-link:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -27px;
    display: block;
    width: 0;
    height: 2px;
    background-color: #D5B58E;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.main-menu-link:hover:after {
    width: 69%;
}

.main-menu-item {
    margin-right: 50px;
}

.main-menu-item:last-child {
    margin-right: 0;
}

.phone-collection {
    margin-left: auto;
    width: 223px;
    padding: 51px 0 0 35px;
}

.phone-call-back-drop > a {
    display: block;
    position: relative;
    padding-right: 18px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
}

.phone-call-back-drop > a:after {
    content: " ";
    position: absolute;
    top: 5px;
    right: 0;
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("../img/next.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.phone-item {
    margin-bottom: 15px;
}

.phone-item:last-child {
    margin-bottom: 0;
}

.phone-item a {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #000000;
}

.phone-list {
    position: absolute;
    top: 100%;
    left: -10px;
    padding: 20px 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
    opacity: 0;
    z-index: -10;
}

.phone-call-back-open {
    opacity: 1;
    z-index: 1;
}

.phone-call-back {
    position: relative;
}

.slider-image {
    position: relative;
    padding: 723px 0 60px 255px;
    background-color: #98806D;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 813px;
    min-height: 857px;
    margin-left: auto;
    z-index: 1;
}

.slider-image:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(58.33%, rgba(0, 0, 0, 0.14)), to(rgba(0, 0, 0, 0.7)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 58.33%, rgba(0, 0, 0, 0.7) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 58.33%, rgba(0, 0, 0, 0.7) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 58.33%, rgba(0, 0, 0, 0.7) 100%);
    z-index: -2;
}

.slider-image:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 463px;
    height: 617px;
    background-image: url("../img/decor.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.slider-image-description {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    font-weight: 300;
    margin: 0;
}

.slider-image .slider-image-description {
    color: #ffffff;
    width: 470px;
}

.slider-item-content-headline {
    margin: 0;
    font-family: "Petersburg", "Times New Roman", serif;
    font-size: 75px;
    line-height: 90px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 6.3px;
}

.slider-item-content-under-headline {
    font-size: 40px;
    line-height: 62px;
    letter-spacing: 0.3em;
    color: #000000;
    margin: 0 0 50px 0;
}

.slider-item-content .slider-image-description {
    color: #818181;
    margin: 0 0 61px 0;
}

.button {
    display: inline-block;
    position: relative;
    padding: 11px 40px 11px 40px;
    font-family: "Petersburg", "Times New Roman", serif;
    line-height: 23px;
    font-size: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #374454;
    -webkit-box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    border: 2px solid #ffffff;
}

.button:hover {
    background-color: rgba(55, 68, 84, 0.7);
    color: #ffffff;
}

.button:focus {
    color: #ffffff;

}

.slider-item-content {
    position: absolute;
    top: 69px;
    left: 0;
    width: 778px;
    padding: 144px 125px 161px 0;
    min-height: calc(100% - 69px);
    background-color: #ffffff;
    z-index: 2;
}

.main-slider .button {
    border-color: transparent;
}

.slider-item {
    position: relative;
}

.header-site {
    padding-bottom: 15px;
}

.icon {
    display: inline-block;
}

.button .icon {
    margin-left: 10px;
}

.main-slider-wrapper {
    position: relative;
}

.slider-arrow {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 45px;
    height: 23px;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

.slider-arrow:hover {
    opacity: 0.7;
}

.slider-arrow:focus {
    outline: none;
    opacity: 0.3;
}

.slider-prev {
    background-image: url("../img/arrow-left.svg");
}

.slider-next {
    background-image: url("../img/arrow-right.svg");
}

.main-slider-button {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 121px;
    right: 28px;
    bottom: 240px;
}

.slick-dots {
    position: absolute;
    top: 60px;
    right: 58px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.slick-dots button {
    -webkit-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s;
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 0;
    border-radius: 50%;
}

.slick-dots button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.slick-dots button:hover:before {
    border-color: rgba(255, 255, 255, 1);
}

.slick-dots button:hover:before {
    border-color: rgba(255, 255, 255, 0.3);
}

.slick-dots button:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.slick-dots .slick-active button:before {
    content: " ";
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    top: -29px;
    right: -29px;
    -webkit-animation: pulse-animation 1.2s infinite linear;
    animation: pulse-animation 1.2s infinite linear;
}

.slick-dots li {
    margin-bottom: 30px;
}

.slick-dots .slick-active {
    margin-top: 60px;
    margin-bottom: 60px;
}

.slick-dots .slick-active:first-child {
    margin-top: 0;
}

.slick-dots .slick-active:last-child {
    margin-bottom: 0;
}

.slick-dots li:last-child {
    margin-bottom: 0;
}

@-webkit-keyframes pulse-animation {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    10% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    20% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    30% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    40% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    70% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    80% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    90% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse-animation {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    10% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    20% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    30% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    40% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    70% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    80% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    90% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.phone-call-back-drop:hover .phone-list {
    opacity: 1;
    z-index: 1;
}

.phone-call-back-drop:focus-within .phone-list {
    opacity: 1;
    z-index: 1;
}

.slider-item:focus {
    outline: none;
}

.h2 {
    font-family: "Petersburg", "Times New Roman", serif;
    font-size: 66px;
    line-height: 90px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}

.order-room .h2 {
    width: 750px;
    margin: 0 0 30px 0;
}

.order-room {
    padding: 143px 0;
}

.order-description {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.027em;
}

.tabs-content .tab-item {
    display: block;
    height: 0;
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.order-room-main-left {
    padding-top: 17px;
    width: 65px;
}

.order-room-main-right {
    padding-top: 48px;
    width: 1250px;
}

.order-room-main {
    margin-top: 33px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tabs-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
}

.tabs-nav a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #F2E9DD;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.tabs-nav li {
    margin-bottom: 147px;
}

.tabs-nav li:last-child {
    margin-bottom: 0;
}

.tabs-nav li.active a {
    background-color: #D5B58E;
}

.tabs-nav:after {
    content: " ";
    position: absolute;
    width: 1px;
    height: 100%;
    display: block;
    background-color: #D5B58E;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: -1;
}

.order-free,
.order-bookings {
    position: relative;
    width: 400px;
    padding-left: 31px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #585858;
    margin: 0;
}

.order-free {
    margin-bottom: 6px;
}

.order-bookings {
    margin-bottom: 50px;
}

.order-free:before,
.order-bookings:before {
    content: " ";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

.order-free:before {
    background-color: #8FD58E;
}

.order-bookings:before {
    background-color: #C3C7CB;
}

.floors-text {
    font-size: 18px;
    line-height: 25px;
    color: #CACACA;
    margin: 0 0 5px 0;
}

.tabs-nav li:nth-child(2) {
    margin-bottom: 140px;
}

.tabs-content .tabs-open {
    height: auto;
    overflow: visible;
}

.slick-slide:focus {
    outline: none;
}

.tab-item {
    position: relative;
}

.order-prev {
    background-image: url("../img/black-prev.svg");
}

.order-next {
    background-image: url("../img/black-next.svg");
}

.order-button_wrapper {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 121px;
    right: 0;
    top: -101px;
}

.order-section-title {
    font-size: 18px;
    line-height: 25px;
    color: #CACACA;
    letter-spacing: 0.02em;
    position: absolute;
    right: 0;
    top: -67px;
    margin: 0;
}

.link-in-svg {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    display: block;
}

.link-in-svg:hover {
    opacity: 0.6;
}

.form-callback {
    position: relative;
    margin-top: 51px;
    min-height: 641px;
    padding-top: 141px;
    background-color: #98806D;
    background-image: url("../img/image2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.form-callback:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(51.04%, rgba(0, 0, 0, 0.28)), to(rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.28) 51.04%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.28) 51.04%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.28) 51.04%, rgba(0, 0, 0, 0.8) 100%);
    z-index: -1;
}

.form-callback:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 481px;
    height: 100%;
    background-image: url(../img/decor.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.form-callback {
    color: #ffffff;
}

.form-callback h2 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 36px;
}

.form-callback-wrapper {
    width: 950px;
    margin: auto;
}

.form-callback-description {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form-callback-wrapper .form-callback-description {
    width: 596px;
    margin-bottom: 40px;
}

.input {
    padding: 0 17px;
    height: 49px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    width: 321px;
}

.input::-webkit-input-placeholder {
    color: #ffffff;
}

.input::-moz-placeholder {
    color: #ffffff;
}

.input:-ms-input-placeholder {
    color: #ffffff;
}

.input:-moz-placeholder {
    color: #ffffff;
}

.form-callback-item {
    margin-right: 30px;
}

.form-callback-item:last-child {
    margin-right: 0;
}

.map {
    position: relative;
}

.map iframe {
    height: 731px;
    width: 100%;
}

.map-info {
    right: 0;
    bottom: 0;
    padding: 205px 20.8% 128px 9%;
    background-color: #ffffff;
}

.map-link img,
.map-link {
    display: block;
}

.map-info-description {
    font-size: 18px;
    line-height: 25px;
    color: #818181;
    margin-bottom: 58px;
}

.map-list p {
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.map-list a {
    color: #000000;
}

.map-phone:after {
    content: " ";
    position: absolute;
    display: block;

}

.map-info h2 {
    margin: 0;
}

.footer-menu-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-menu-list a {
    font-size: 14px;
    line-height: 23px;
    color: #000000;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.footer-menu-item {
    margin-right: 50px;
}

.footer-menu-item:last-child {
    margin-right: 0;
}

.map-content {
    padding-left: 36px;
    position: relative;
}

.map-content:before {
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.map-phone:before {
    width: 21px;
    height: 21px;
    background-image: url("../img/phone-call.svg");
}

.map-mail:before {
    width: 20px;
    height: 20px;
    background-image: url("../img/mail.svg");
}

.map-address:before {
    width: 20px;
    height: 20px;
    background-image: url("../img/local.svg")
}

.map-social:before {
    width: 20px;
    height: 20px;
    background-image: url("../img/facebook.svg");
}

.map-social a {
    font-weight: 300;
    text-decoration: underline;
}

.map-content a:focus,
.map-content a:hover {
    color: #D5B58E;
}

.map-social a:hover {
    text-decoration: none;
    color: #000000;
}

.site-footer {
    padding-top: 70px;
    padding-bottom: 50px;
}

.footer-menu {
    margin-left: 176px;
    width: 620px;
}

.footer-social-item p {
    margin: 0;
}

.footer-social {
    width: 170px;
    margin-left: 150px;
}

.footer-phone {
    width: 170px;
    margin-left: auto;
}

.footer-social-item a {
    color: #000000;
}

.footer-phone-list-item a {
    color: #000000;
    font-weight: 600;
}

.map-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 100%;
}

.map-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
}

.map iframe {
    display: block;
    position: relative;
    z-index: 2;
    border: none;
    width: 100%;
}

.map-phone-item p {
    margin: 0;
}

.map-phone-item {
    margin-bottom: 15px;
}

.map-phone-item:last-child {
    margin-bottom: 0;
}

.map-left,
.map-right {
    width: 50%;
    position: relative;
}

.room {
    position: relative;
    width: 1013px;
}

.room .slick-dots {
    top: inherit;
    right: inherit;
    left: 395px;
    bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.room .slick-dots li {
    margin-bottom: 0;
}

.room .slick-dots li {
    margin-right: 30px;
}

.room .slick-dots li:last-child {
    margin-right: 0;
}

.room .slick-dots .slick-active {
    margin-top: 0;
    margin-bottom: 0;
}

.room .slick-dots .slick-active {
    margin-left: 30px;
    margin-right: 60px;
}

.room .slick-dots .slick-active:first-child {
    margin-left: 0;
    margin-right: 60px;
}

.room .slick-dots .slick-active:last-child {
    margin-right: 0;
    margin-left: 30px;
}

.room-next,
.room-prev {
    position: absolute;
    top: 0;
    display: block;
    width: 120px;
    height: 100%;
    background: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.room-prev:focus,
.room-next:focus,
.room-prev:hover,
.room-next:hover {
    opacity: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(58.33%, rgba(0, 0, 0, 0.14)), to(rgba(0, 0, 0, 0.7)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 58.33%, rgba(0, 0, 0, 0.7) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 58.33%, rgba(0, 0, 0, 0.7) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 58.33%, rgba(0, 0, 0, 0.7) 100%);
}

.room-next {
    right: 0;
}

.room-prev {
    left: 0;
}

.room-next:after,
.room-prev:after {
    content: " ";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 311px;
    width: 45px;
    height: 23px;
}

.room-prev:after {
    background-image: url(../img/arrow-left.svg);
}

.room-next:after {
    background-image: url(../img/arrow-right.svg);
    right: 33px;
}

.room-prev:after {
    left: 33px;
}

.all-about-page {
    margin-bottom: 50px;
}

.h1 {
    font-size: 75px;
    line-height: 65px;
    color: #000000;
    font-weight: 400;
}

.page-room-name h1 {
    margin: 0;
}

.page-room-name {
    margin-bottom: 35px;
}

.logo {
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.logo[href]:hover {
    opacity: 0.6;
}

.logo[href]:focus {
    opacity: 0.3;
}

.back-link {
    display: block;
    color: #000000;
}

.back-link:hover rect {
    fill: #D5B58E;
}

.back-link .icon {
    vertical-align: middle;
    margin-right: 5px;
}

.go-back {
    margin-bottom: 40px;
}

.room-top-container {
    margin-top: 30px;
}

.order-room-info {
    width: 314px;
}

.room-status {
    font-size: 18px;
    line-height: 25px;
    color: #8FD58E;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.room-text-info {
    margin: 0 0 6px 0;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.all-about-page {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.how-mach {
    font-family: "Petersburg", "Times New Roman", serif;
    font-size: 21px;
    line-height: 65px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 10px 0;
}

.order-room-info-form {
    margin-top: 25px;
}

.order-room-info-form .input {
    border-bottom: 1px solid #818181;
    color: #000000;
    width: 253px;
    font-size: 16px;
}

.order-room-info-form .input::-webkit-input-placeholder {
    color: #818181;
}

.order-room-info-form .input::-moz-placeholder {
    color: #818181;
}

.order-room-info-form .input:-ms-input-placeholder {
    color: #818181;
}

.order-room-info-form .input:-moz-placeholder {
    color: #818181;
}

.order-room-info-item {
    margin-bottom: 10px;
}

.order-room-info .button {
    border-color: transparent;
    margin-top: 40px;
}

.order-image-wrapper {
    margin: 0;
}

.status-close {
    color: #D58E8E;
}

.room-slider-wrapper {
    position: relative;
}

.order-room-info {
    border-top: 1px solid transparent;
}

.tab-item svg {
    max-width: 100%;
    width: 100%;
}

.order-slider-item {
    display: none;
}

.only-text {
    margin-bottom: 100px;
}

.only-text-description {
    max-width: 1013px;
    width: 100%;
}

.only-text-description p {
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}

.order-room-info-vd-wrapper {
    border-top: 1px solid transparent;
}

.phone-item a:hover {
    color: #D5B58E;
}

.room-next:after,
.room-prev:after {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

@media only screen and (max-width: 1475px) {
    .container {
        width: 1200px;
    }

    .order-room-main-right {
        width: 1000px;
    }

    .slider-item-content-headline {
        font-size: 60px;
        letter-spacing: normal;
        line-height: normal;
    }

    .logo-wrapper {
        margin-right: 170px;

    }

    .footer-menu {
        margin-left: 0;
    }

    .map iframe {
        height: 670px;
    }

    .map-info {
        padding: 153px 20.8% 128px 9%;
    }

    .slider-item-content {
        width: 600px;
        top: 55px;
        padding: 85px 125px 60px 0;
        min-height: calc(100% - 55px);
    }

    .slider-image {
        min-height: 670px;
        padding: 565px 0 30px 200px;
        width: 700px;
    }

    .slider-image-description {
        font-size: 16px;
    }

    .slider-item-content-under-headline {
        font-size: 30px;
    }

    .slider-image:after {
        width: 359px;
        height: 478px;
    }

    .main-slider-button {
        bottom: 195px;
    }

    .room {
        width: calc(100% - 314px);
        padding-right: 60px;
    }

    .h1 {
        font-size: 60px;
    }

    .room-status {
        font-size: 16px;
    }

    .room-text-info {
        font-size: 14px;
    }

    .how-mach {
        line-height: normal;
    }

    .room .slick-dots {
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .site-footer {
        padding-top: 35px;
        padding-bottom: 40px;
    }

    .order-room {
        padding: 100px 0;
    }
}

@media only screen and (max-width: 1199px) {

    .all-about-page {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .room {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .order-room-info {
        width: 100%;
    }

    .container {
        width: 991px;
    }

    .logo-wrapper {
        margin-right: 100px;
    }

    .main-menu-item {
        margin-right: 25px;
    }

    .main-menu {
        width: 470px;
    }

    .slider-item-content {
        width: 500px;
        padding: 60px 90px 60px 0;
    }

    .slider-item-content-under-headline {
        font-size: 24px;
    }

    .slider-image {
        width: 600px;
    }

    .slider-image .slider-image-description {
        width: 370px;
        font-size: 14px;
    }

    .order-room-main-right {
        width: 835px;
    }

    .footer-menu {
        width: 400px;
    }

    .phone-call-back-drop:hover .phone-list {
        opacity: 0;
        z-index: -10;
    }

    .phone-call-back-main-list .open-drop .phone-list {
        opacity: 1;
        z-index: 1;
    }

    .h2 {
        font-size: 50px;
    }

}

@media only screen and (max-width: 991px) {

    .order-room-info-vd-wrapper {
        width: 300px;
    }

    .order-room-info-form {
        width: 253px;
    }

    .order-room-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .h1 {
        font-size: 50px;
    }

    .room-next:after,
    .room-prev:after {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .container {
        width: 720px;
    }

    .header-site .main-menu {
        display: none;
    }

    .order-room-main-right {
        width: 570px;
    }

    .h2 {
        font-size: 45px;
    }

    .map {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .map-left,
    .map-right {
        width: 100%;
    }

    .form-callback-form-wrapper .form-callback-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .form-callback {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .form-callback .form-callback-item {
        margin-top: 10px;
    }

    .form-callback .form-callback-item:last-child {
        margin-top: 50px;
    }

    .form-callback h2 {
        line-height: normal;
        font-size: 45px;
    }

    .map-info {
        padding: 60px 20.8% 60px 9%;
    }

    .slider-item-content {
        position: static;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .slider-image {
        width: 100%;
    }

    .footer-menu {
        width: 190px;
    }

    .site-footer .main-menu-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .site-footer .main-menu-item {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .site-footer .main-menu-item:last-child {
        margin-bottom: 0;
    }

    .footer-social {
        margin-left: 50px;
    }

    .form-callback-wrapper,
    .order-room .h2 {
        width: 100%;
    }

    .form-callback-form-wrapper {
        width: 321px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-callback {
        min-height: auto;
    }

    .form-callback {
        text-align: center;
    }

    .map iframe {
        height: 477px;
    }

    .map-info {
        padding-left: 20px;
        padding-right: 20px;
        width: 720px;
        margin-left: auto;
        margin-right: auto;
    }

    .slider-item-content .button,
    .slider-item-content .slider-image-description {
        display: none;
    }

    .slider-item-content-under-headline {
        margin-bottom: 0;
    }

    .slider-image {
        padding-left: 0;
        padding-right: 0;
    }

    .slider-image .slider-image-description {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .slider-item-content {
        padding-top: 30px;
    }


    .order-button_wrapper {
        display: none;
    }

    .order-section-title {
        position: static;
    }

    .floor-content {
        overflow-x: auto;
    }

    .floor-content svg {
        max-width: 1189px;
        width: 1189px;
        height: 338px;
    }

    .order-slider-item {
        margin-bottom: 30px;
    }

    .order-slider-item:last-child {
        margin-bottom: 0;
    }

    .order-section-title {
        display: none;
    }

    .order-slider-item {
        display: block;
    }

    .form-callback {
        margin-top: 0;
    }

    .order-room-info-form {
        margin-top: 0;
    }

}

@media only screen and (max-width: 767px) {

    .only-text {
        margin-bottom: 50px;
    }

    .order-room-info-vd-wrapper {
        width: 220px;
    }

    .map-info,
    .container {
        width: 576px;
    }

    .order-room-main {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .order-room-main-right,
    .order-room-main-left {
        width: 100%;
    }

    .form-callback-wrapper .form-callback-description {
        width: 100%;
    }

    .footer-social {
        display: none;
    }

    .footer-single-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer-phone {
        width: 40%;
        margin-left: auto;
    }

    .footer-menu {
        width: 50%;
    }

    .site-footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .h2 {
        line-height: normal;
    }

    .map-info {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer-phone-list-item {
        text-align: right;
    }

    .tabs-nav:after {
        display: none;
    }

    .tabs-nav li {
        margin-bottom: 0;
    }

    .tabs-nav li:nth-child(2) {
        margin-bottom: 0;
    }

    .order-room-main .tabs-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .tabs-nav li {
        margin-right: 30px;
    }

    .tabs-nav li:last-child {
        margin-right: 0;
    }
}

@media only screen and (max-width: 576px) {

    .order-room-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .order-room-info-vd-wrapper {
        width: 100%;
    }

    .order-room-info-form {
        width: 100%;
        margin-top: 25px;
    }

    .go-back {
        margin-bottom: 20px;
    }

    .h1 {
        font-size: 36px;
        line-height: normal;
    }

    .h2 {
        font-size: 30px;
    }

    .room-prev:focus,
    .room-next:focus,
    .room-prev:hover,
    .room-next:hover {
        background: transparent;
    }

    .room-next:after {
        right: 15px;
    }

    .room-prev:after {
        left: 15px;
    }

    .map-info,
    .container {
        width: 100%;
    }

    .slider-item-content-headline {
        font-size: 45px;
    }

    .slider-image .slider-image-description {
        width: 100%;
    }

    .logo-wrapper {
        margin-right: 0;
    }

    .header-site .container {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .form-callback:before {
        display: none;
    }

    .form-callback .input {
        width: 100%;
    }

    .footer-single-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer-phone,
    .footer-menu {
        width: 100%;
    }

    .footer-phone-list-item {
        text-align: left;
    }

    .footer-menu {
        margin-bottom: 30px;
    }

    .slider-image:after {
        display: none;
    }

    .order-free,
    .order-bookings {
        width: 100%;
    }

    .slider {
        margin-left: -20px;
        margin-right: -20px;
    }

    .slider-image-description {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-slider-wrapper .slick-dots {
        right: 40px;
    }

    .slider-image {
        padding: 545px 0 50px 0;
    }

    .phone-collection {
        padding: 35px 0 0 15px;
    }

    .phone-collection {
        width: 206px;
    }

    .logo-wrapper {
        padding-top: 10px;
    }

    .slider-item-content {
        padding-bottom: 30px;
    }

    .order-room {
        padding: 40px 0;
    }

    .slider-item-content-under-headline {
        line-height: normal;
    }
}

@media only screen and (max-width: 400px) {

    .slider-item-content-under-headline {
        font-size: 20px;
        margin-top: 10px;
    }

    .phone-call-back-drop > a {
        font-size: 0;
        width: 40px;
        height: 40px;
        background-image: url("../img/auricular-phone-symbol-in-a-circle.svg");
        background-size: contain;
    }

    .phone-call-back-drop > a:after {
        display: none;
    }

    .logo-wrapper {
        width: 50%;
    }

    .phone-collection {
        width: 50%;
    }

    .phone-call-back-drop > a {
        margin-left: auto;
        padding: 0;
    }

    .phone-collection {
        padding: 27px 0 0 15px;
    }

    .phone-call-back-main-list .phone-list {
        width: 200px;
        left: initial;
        right: 0;
        margin-top: 5px;
    }

}

@media only screen and (max-width: 350px) {
    .slider-item-content-headline {
        font-size: 38px;
    }

    .form-callback-form-wrapper {
        width: 100%;
    }

    .order-room {
        overflow: hidden;
    }

    .slider-item-content-under-headline {
        font-size: 16px;
    }
}
.free path,
.free rect{
    fill: green;
}